.skeleton {
	background-color: #333;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 4px;

	background: linear-gradient(90deg, #333 0px, #444 50%, #333 100%);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite linear;
}

[data-theme="light"] .skeleton {
	background-color: #ddd;
	background: linear-gradient(90deg, #e0e0e0 0px, #f5f5f5 50%, #e0e0e0 100%);
}
