.skeleton {
	background-color: #ddd;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 4px;

	background: linear-gradient(90deg, #e0e0e0 0px, #f5f5f5 50%, #e0e0e0 100%);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite linear;
}

.skeleton.text {
	height: 1em;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 0.5rem;
}

.skeleton.circular {
	border-radius: 50%;
}

.skeleton.rect {
}

@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}
	100% {
		background-position: 200% 0;
	}
}

[data-theme="dark"] .skeleton {
	background-color: #333;
	background: linear-gradient(90deg, #333 0px, #444 50%, #333 100%);
}
