#root {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	box-sizing: border-box;
	flex: 1;
}
